.layout-wrapper .layout-topbar .layout-topbar-wrapper{
    height: 90px;
    background-color: #3D4E8A;
}

.layout-wrapper .menu-wrapper{
    padding-top:12px;
}


.layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-left{
    margin-left: 3% !important;
}

.menu-wrapper .layout-menu-container .layout-menu li > a{
    padding:22px 0 0 0;
}


.layout-wrapper .menu-wrapper .layout-menu > li > a .layout-menuitem-text{
    margin-right: 0!important;
    font-size: 16px;
}

.layout-wrapper.layout-horizontal .layout-topbar .menu-wrapper .layout-menu-container .layout-menu{
    margin:0!important;
}

.layout-main .layout-footer{
    background-color: #3D4E8A!important;
}

.footer-hr,
.prototype-footer .main-footer-legal-links,
.layout-main .layout-footer .footer-icons a > i,
.layout-main .layout-footer .footer-icons a > span{
    color: #fff!important;
}